*.exe
*.html
*.dll
*.so
*.dylib
*.o
*.obj
*.ko
*.lib
*.a
*.la
*.lo
*.pdb
*.idb
*.ipdb
*.iobj
*.pch
*.manifest
*.sbr
*.bsc
*.tmp
*.temp
.vscode/
*.user
*.userosscache
*.sln.docstates
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
.vs/
*.nuget.props
*.nuget.targets
_Pvt_Extensions/
packages/
.nuget/NuGet.exe
NuGet.exe
*.ncb
*.suo
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb
*.psess
*.vsp
*.vspx
*.sap
*.e2e
_ChillBuilder/
*.Test.xml
[Nn]unit[Tt]est[Rr]esult.*
*.nunit.report
[Bb]dd
[Ff]eatures/[Oo]utput/
[Ff]eatures/*.feature.cs
[Gg]eneration[Oo]utput/
*.coverage
*.coveragexml
*.crunch*.local.xml
[Nn][Cc]runch*
*.deploy
pubxml
pubxml.user
*.publishsettings
**/*.nupkg
*.nuspec
NugetPack/
*.mlmodel
*.backup.*
*.backup
.idea/
*.sln.iml
.cr/
__pycache__/
*.py[cod]
CVS/
.svn/
.hg/
.bzr/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
CMakeUserPresets.json
doxygen/
*.ilk
*.map
*.exp
*.gch
*.pch
*.lnk
*.autosave
*~
*.swp
*.swo
database/